.container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 8px;
}

.paragraph {
  margin: 0;
  font-size: 1.6rem;
}

.url {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  font-family: "Ubuntu mono", monospace;
  padding: 0.4rem;

  background-color: hsl(
    var(--turtle-ui--color--tone--mono),
    var(--turtle-ui--color--level--9)
  );
  border-radius: 2px;
  overflow-x: auto;
}
