@import "./fontello.css";

:root {
  --shell-container-max-width: 60rem;
  --shell-container-padding-h: 1.6rem;
  --shell-container-padding-v: 1.6rem;
  --shell-container-padding: var(--shell-container-padding-v)
    var(--shell-container-padding-h);
}

body,
.app {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > :first-child,
.app > :first-child {
  flex-grow: 1;
}

shell-loading {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.appbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fill, 2.3em);
  column-gap: 0.8rem;
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.6rem 2.4rem;
  font-size: 1.3em;
  border-block-start: 2px solid var(--theme-primary);

  background-color: var(--color-wet-asphalt);
  color: var(--color-clouds);
  z-index: 99;
}

.hidden {
  display: none;
}

/* === Button Module === */
.button {
  display: inline-block;
  padding: 0.8rem 1.6rem;

  background-color: var(--theme-fg);
  border-radius: 0.4rem;
  border: 0.2rem solid var(--theme-bg);
  color: var(--theme-bg);

  transition: transform 0.15s ease-out, opacity 0.2s ease-out;
}
.button:hover {
  box-shadow: 0 0 0 0.15rem var(--theme-fg);
}
.button:active {
  opacity: 0.8;
  transform: scale(0.98);
}
.button:focus {
  box-shadow: 0 0 0 0.15rem Highlight;
  outline: none;
}

.button-circle {
  display: inline-flex;
  padding: 0.5em;
  border-radius: 50%;
}
.button-circle::before {
  margin: 0;
}

/* === Footer Module === */
.footer {
  padding: var(--shell-container-padding);
  font-size: 0.9em;

  background-color: var(--theme-bg-sub);
  color: var(--theme-fg-sub);
}

.footer-contents {
  margin: 0 auto;
  width: 100%;
  max-width: var(--shell-container-max-width);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-link-list {
  display: flex;
}
.footer-link-list > li + li::before {
  content: "/";
}
.footer-link-list a {
  padding: 0 0.8rem;
  text-decoration: underline;
}
.footer-link-list a:hover {
  color: var(--theme-fg);
}

/* === Error Module === */
.error {
  display: block;
  margin: auto;
  padding: var(--shell-container-padding);
  width: 100%;
  max-width: calc(
    var(--shell-container-max-width) + var(--shell-container-padding-h) * 2
  );
}
.error.error.error {
  flex-grow: 0;
}

.error-title {
  font-size: 6rem;

  font-weight: bold;
}

.error-details {
  margin-block-start: 1em;
  font-size: 1.1em;
}

.error-action {
  margin-block-start: 1.5em;
}
