:root {
  /* https://flatuicolors.com/palette/defo */
  --color-turquoise: #1abc9c;
  --color-green-sea: #16a085;
  --color-emerald: #2ecc71;
  --color-nephritis: #27ae60;
  --color-peter-river: #3498db;
  --color-belize-hole: #2980b9;
  --color-amethyst: #9b59b6;
  --color-wisteria: #8e44ad;
  --color-wet-asphalt: #34495e;
  --color-midnight-blue: #2c3e50;
  --color-sun-flower: #f1c40f;
  --color-orange: #f39c12;
  --color-carrot: #e67e22;
  --color-pumpkin: #d35400;
  --color-alizarin: #e74c3c;
  --color-pomegranate: #c0392b;
  --color-clouds: #ecf0f1;
  --color-silver: #bdc3c7;
  --color-concrete: #95a5a6;
  --color-asbestos: #7f8c8d;

  --light-theme-fg: var(--color-midnight-blue);
  --light-theme-fg-sub: var(--color-wet-asphalt);
  --light-theme-bg: var(--color-clouds);
  --light-theme-bg-sub: var(--color-silver);
  --light-theme-primary: var(--color-nephritis);

  --dark-theme-fg: var(--color-clouds);
  --dark-theme-fg-sub: var(--color-silver);
  --dark-theme-bg: var(--color-midnight-blue);
  --dark-theme-bg-sub: var(--color-wet-asphalt);
  --dark-theme-primary: var(--color-emerald);

  --theme-fg: var(--light-theme-fg);
  --theme-fg-sub: var(--light-theme-fg-sub);
  --theme-bg: var(--light-theme-bg);
  --theme-bg-sub: var(--light-theme-bg-sub);
  --theme-primary: var(--light-theme-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-fg: var(--dark-theme-fg);
    --theme-fg-sub: var(--dark-theme-fg-sub);
    --theme-bg: var(--dark-theme-bg);
    --theme-bg-sub: var(--dark-theme-bg-sub);
    --theme-primary: var(--dark-theme-primary);
  }
}
