.app--error {
  padding: 8px;
}

.app--error--title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;

  font-weight: bold;
}

.app--error--icon {
  font-size: 3.2rem;
}

.app--error--description {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 0.8rem;
}

.app--error--details {
  font-size: 1.2rem;
  max-width: 100%;
  overflow: auto;
}
