# Deploy app to GitHub Pages
name: Deploy to GHPages

on:
  push:
    branches:
      - master

env:
  BASE_URL: "https://${{github.repository_owner}}.github.io/${{github.event.repository.name}}"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Read .nvmrc
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"
        id: nvm
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: "6.24.4"
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          cache: pnpm
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
      - name: Install dependencies
        run: pnpm i --frozen-lockfile
      - name: Build application
        run: pnpm build -- --base $BASE_URL
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{secrets.GITHUB_TOKEN}}
          publish_dir: ./dist
